/*
 * This is the  css file that contains additions to, and overrides to, pre-defined css styling from the template
  * 
 */

/*--
	Common Css
--*/


body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,	
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #6594be;
}
h2 {
  font-family: 'Source Sans Pro';
  color: #43a389;
  font-size: 30px;
  font-weight: 300;
}
h3 {
  font:'Open Sans';
  color: #43a389;
  font-size: 24px;
  font-weight: 500;
}
h4 {
  font:'Open Sans';
  font-size: 18px;
  font-weight: 600;
}



p {
  font-size: 15px;
  line-height: 28px;
}

ol  {
  padding: 20px 0px 20px 15px;
  margin: 0;
  list-style: square;
}

ul  {
  padding: 20px 0px 20px 15px;
  margin: 0;
  list-style: square;
}

ul ul {
  padding: 0px 0px 0px 30px;
  margin: 10;
  list-style: circle;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}

a {
 color: #974aaf;	
}

a:hover, a:focus {
	color: #6594be;
}


table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
	padding: 5px 5px 5px 5px;
}


.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}




/*--
	features Start
--*/
#impact-image-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#impact-image-section .impact-image-img {
  padding: 0px 50px;
}



header .navbar-default .navbar-nav li a {
    color: #333333;
	color: #201f5e;
    padding: 10px 16px;
    font-size: 15px;
}


#global-header .block h1 {
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-top: 0;
	text-transform: none;
}

#global-header {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  background-attachment: fixed;
}


#service .service-item {
 padding: 1px 10px 30px 10px;
border:  6px double #51baa0;
border-radius: 12px;
margin: 10px auto 10px auto;
height: 90px
}


#service .service-item-tall {
 padding: 1px 10px 30px 10px;
border:  6px double #51baa0;
border-radius: 12px;
margin: 10px auto 10px auto;
height: 180px
}

#service .service-item-borderless {
 padding: 10px 10px 30px 10px;
border:  0px double #51baa0;
}



/*---------------------------------------------
					Index Start
-----------------------------------------------*/
/*--
	Slider Start
--*/
#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 100px 0 180px 0;
  position: relative;
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8b86a3, #322e40);
  opacity: 0.8;
}
#slider .block {
  color: #E3E3E4;
}
#slider .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}





/*--
	Navbar Css
--*/

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

header .navbar-default .navbar-nav li a {
    color: #333333;
    padding: 10px 26px;
    font-size: 15px;
}

header .navbar-default .navbar-nav li a {
    color: #333333;
    color: #201f5e;
    padding: 10px 16px;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f9ebf7;
	border-radius: 6px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #201f5e;
  	background-color: #dbf0ec;
	border-radius: 6px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #201f5e;
  	background-color: #dbf0ec;
	border-radius: 6px;

/*--
	end of Navbar Css
--*/	

