/*
 * This is the  css file that contains additions to, and overrides to, pre-defined css styling from the template
  * 
 */

/*--
	Common Css
--*/

ul {
  padding: 0;
  margin: 0;
  list-style: square;
}


/*--
	features Start
--*/
#impact-image-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#impact-image-section .impact-image-img {
  padding: 0px 50px;
}