/*
 * This is the  css file while clair is trying things out so as not to break the main css!
 */



#global-header .block h1 {
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-top: 0;
	text-transform: none;
}

#global-header {
  background: url("../img/slider-no-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  background-attachment: fixed;
  margin-bottom: 30px;
}

#banner-image {
	width: 100%;
	padding-top: 15px;
}

#global-titles .block h1 {
    text-align=center;
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-top: 0;
	text-transform: none;
}