/*
 * This is the  css file while clair is trying things out so as not to break the main css!
 */




#service .service-item{
 padding: 10px 10px 30px 10px;
border:  6px double #51baa0;
margin: 10px auto 10px auto;
height: 180px
}
