<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
		<p>Website Copyright &copy; Design &amp; Developed by <a href="https://www.epcc.ed.ac.uk">EPCC</a>.</p>
		<p>Website Design by <a href="http://helenmcfeely.blogspot.com/">Helen McFeely</a>.</p>
        <p>Template Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
		<p> <img src="../img/logos/epcc_logo_transp.png" alt="epcc" width="100" />
				<img src="../img/logos/UKRI-Logo_Horiz-RGB.png" alt="ukri" width="100" />
				<img src="../img/logos/CRAY-logo.png" alt="cray" width="100" />
				<img src="../img/logos/uoe_logo.png" alt="uoe" width="25" />
		
		  </p>
      </div>
    </div>
  </div>
</footer>
